h1 {
    font-size: 500%;
    font-weight: 600;
    color: goldenrod;
    text-align: center;
    background-image: url("../images/images.jpeg");
    
}


footer {
    text-align: center;
    font-weight: 400;
    background: darkblue;
    color: white;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

#quiz {
    text-align: center;
    background:goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    /* float: clear; */
}

#timer {
    font-weight: bold;
    font-weight: 600;
    font-size: 150%;
    /* float: clear; */
}
